<a href="https://colab.research.google.com/github/rghimre3/Ramesh_ghimire_INFO-5502_summer2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (07/15/2022 11:59'AM' to 7/19/2022 11:59PM, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (6 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
word=input("Type your word: ")
#this function counts the frequency of letters in a word
def character_counter(str1):
    dict= {}
    for n in str1:
        keys = dict.keys()
        if n in keys:
           dict[n] +=1
        else:
          dict[n]=1
    return dict
print ("Below is your letter frequency")
print(character_counter(word))

Type your word: sjfdhsadfkjah
Below is your letter frequency
{'s': 2, 'j': 2, 'f': 2, 'd': 2, 'h': 2, 'a': 2, 'k': 1}

(2) Write a Python program to sum all the items in a list. (6 points)

In [17]:
list1=input("Enter numbers separated by comma  ")
print('\n')
list2=list1.split(",")   #splitting 
print(list2)
print('\n')
for i in range(len(list2)):
  list2[i]=int(list2[i])
def sum1(args):   #defining the function
  sum2=0
  for i in list2: # cnverting the list into int data type
    sum2 += i
  return sum2

print("The sum of the list is " , sum1(list2))

Enter numbers separated by comma  2,4


['2', '4']


The sum of the list is  6

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (6 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [7]:
word=input("Type your word: ")

def first_char_Chg(str1):
  char=str1[0]
  str1=str1.replace(char,'$')
  str1=char + str1[1:]
  
  return str1
print(first_char_Chg(word))

Type your word: ramesh ghimire
ramesh ghimi$e

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (6 points)

In [5]:
a=int(input("first num: "))
b=int(input("Second num: "))

def calc(a,b):
  S=3.14 *(1+a/b)**3
  return S
print(calc(a,b))

first num: 3
Second num: 4
16.8284375

(5) Write a Python program to concatenate following dictionaries to create a new one. (6 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [14]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50, 6:60}
dic4={**dic1,**dic2,**dic3}
print ("Below is new Dictionary")
print(dic4)

Below is new Dictionary
{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (6 points)

In [32]:
tuple1=input("Enter the elements separeted by Comma  ")
print("\n")
tuple2=tuple(tuple1.split(","))
print(type(tuple2)) #just checking data types
print(tuple2) #viewing the output
print("\n")
element=input("enter the element of the search")
print("\n")
if element in tuple2:
  print("yes, ths is present in the tuple")
else:
  print("Sadly, the element is not there ")


# print('5' in tuple2)

Enter the elements separeted by Comma  12,34,56,78,as,df,gh,jk


<class 'tuple'>
('12', '34', '56', '78', 'as', 'df', 'gh', 'jk')


enter the element of the search12


yes, ths is present in the tuple

(7) Write a Python program to find maximum and the minimum value in a set. (6 points)

In [6]:
set1=input("Enter the number separeted by space  ")
print("\n")
set2=set(set1.split(" "))
print(type(set2)) #just checking data types
print(set2) #viewing the output
print("\n")
print("The maximum value in the set is " ,max(set2))
print("The minimum value of the set is ",min(set2))

Enter the number separeted by space  2 n 3 k3


<class 'set'>
{'k3', '3', 'n', '2'}


The maximum value in the set is  n
The minimum value of the set is  2

(8) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (8 points)

In [83]:
arr = [1,2,3,4,5,8,5,5,6,6,2,2]    
a1=[]     
print("Duplicate elements in given array: ");    
for i in range(0, len(arr)):    
    for j in range(i+1, len(arr)):    
        if(arr[i] == arr[j]):    
            a1.append(arr[j]); 
        else:
          break

if len(a1)>0:
 print(a1)
else:
  print("-1")

Duplicate elements in given array:
[5, 6, 2]