<a href="https://colab.research.google.com/github/rghimre3/Ramesh_ghimire_INFO-5502_summer2022/blob/main/lab_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second Lab-assignment (07/19/2022 11:59'AM' - 07/22/2022 11:59PM, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [24]:
import random
import numpy as np
x=list(np.random.randint(low = 1,high=100,size=12)) 
print("This is the list :", x ,"\n")
print("The max value of the list is : ", max(x),"\n")
print("The min value of the list is : ",min(x),"\n")
x.sort()
print("Ascending order sort ", x,"\n")
x.sort( reverse=True)
print("Descending order sort : ",x,"\n")
x2=x  #just copying 
# creating an average function
def Average(n):
  avg=sum(n)/len(n)
  return avg
print("The average of the list: ",Average(x2))

This is the list : [14, 45, 3, 31, 45, 91, 54, 63, 5, 70, 97, 39]

The max value of the list is :  97

The min value of the list is :  3

Ascending order sort  [3, 5, 14, 31, 39, 45, 45, 54, 63, 70, 91, 97]

DEscending order sort :  [97, 91, 70, 63, 54, 45, 45, 39, 31, 14, 5, 3]

The average of the list:  46.416666666666664

# Question 2 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [25]:
def volume(r):
  volume=(4/3)* 3.14* r**2
  return volume

r=[]
v=[]
for i in range(1,11):
  y=round(volume(i),2)
  i=r.append(i)
  y=v.append(y)

import pandas as pd
d={'r':r,'V':v}
df=pd.DataFrame(d)
df=df.set_index('r')
print (df)

         V
r
1     4.19
2    16.75
3    37.68
4    66.99
5   104.67
6   150.72
7   205.15
8   267.95
9   339.12
10  418.67

# Question 3

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [7]:
import pandas as pd
df = pd.read_csv(r'https://raw.githubusercontent.com/suthapalliuday/INFO5502-Summer2022/main/datasets/lab_assignment_02_denton_housing.csv')
df.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [16]:
df2=df.pivot_table('value', 'year', 'title_field',fill_value=0).reset_index()

In [57]:
df2['Diff_occupied_housing']=df2['Occupied Housing Units'].diff()
df2['Vacant_Housing_Units']=round(df2['Vacant Housing Units']/df2['Total Housing Units']*100,2).astype(str)+'%'

df2['Occupied_Housing_Units']=round(df2['Occupied Housing Units']/df2['Total Housing Units']*100,2).astype(str)+'%'
df2.head()

title_field,year,Median Gross Rent,Occupied Housing Units,Owner Occupied,Renter Occupied,Total Housing Units,Vacant Housing Units,Diff_occupied_housing,Vacant_Housing_Units,Occupied_Housing_Units
0,2008,768,36711,17340,19371,41194,4483,NaN,10.88%,89.12%
1,2009,769,35916,18057,17859,39499,3583,-795.0,9.07%,90.93%
2,2010,780,41007,18867,22140,44642,3635,5091.0,8.14%,91.86%
3,2011,821,40704,18478,22226,44917,4213,-303.0,9.38%,90.62%
4,2012,842,42108,20068,22040,45121,3013,1404.0,6.68%,93.32%

In [48]:
##1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

In [19]:
df3=df2[['year','Diff_occupied_housing']]

print(df3)
print(" \n")
print("Ascending orderby diff value ")
df4=df3.sort_values(by='Diff_occupied_housing',ascending=True)
print(df4)

title_field  year  Diff_occupied_housing
0            2008                    NaN
1            2009                 -795.0
2            2010                 5091.0
3            2011                 -303.0
4            2012                 1404.0
5            2013                 1565.0
6            2014                 2622.0


Ascending orderby diff value
title_field  year  Diff_occupied_housing
1            2009                 -795.0
3            2011                 -303.0
4            2012                 1404.0
5            2013                 1565.0
6            2014                 2622.0
2            2010                 5091.0
0            2008                    NaN

In [47]:
##(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:
#Year Vacant Housing Units Occupied Housing Units

In [42]:
df5=df2[['year','Vacant_Housing_Units','Occupied_Housing_Units']]

df5.head(10)

title_field  year Vacant_Housing_Units Occupied_Housing_Units
0            2008               10.88%                 89.12%
1            2009                9.07%                 90.93%
2            2010                8.14%                 91.86%
3            2011                9.38%                 90.62%
4            2012                6.68%                 93.32%
5            2013                 8.8%                  91.2%
6            2014                5.73%                 94.27%

In [ ]:
##(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:

In [150]:
df6=df2[['year','Vacant Housing Units','Occupied Housing Units']]
print(df6)

title_field  year  Vacant Housing Units  Occupied Housing Units
0            2008                  4483                   36711
1            2009                  3583                   35916
2            2010                  3635                   41007
3            2011                  4213                   40704
4            2012                  3013                   42108
5            2013                  4215                   43673
6            2014                  2814                   46295

In [151]:

df6.rename(columns={'Vacant Housing Units':'Vacant_Housing_Units','Occupied Housing Units':'Occupied_Housing_Units'}, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [102]:
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.39)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=cf6bbbd26bfb7023f8df5891714c881ee9df44b26c0616b2274c19e7a5b726b5
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [162]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [167]:
q = """SELECT  
'Vacant Housing Units' as n,year, max(Vacant_Housing_Units) as m

       FROM df6 
       ;"""

names = pysqldf(q)
names

                      n  year     m
0  Vacant Housing Units  2008  4483

In [169]:
r = """
SELECT  
'Occupied Housing Units' as n,
year, 
max(Occupied_Housing_Units) as m

       FROM df6 
       ;"""
sames=pysqldf(r)
sames

                        n  year      m
0  Occupied Housing Units  2014  46295

In [185]:
df7=pd.concat([names,sames])
df7.rename(columns={'n':' ','year':'Year','m':'Value'}, inplace=True)
df7.head()
#answer

                           Year  Value
0    Vacant Housing Units  2008   4483
0  Occupied Housing Units  2014  46295

In [49]:
## (4) (10 pts) Calculate the harmonic mean of the total housing units and print it out

In [23]:
from scipy import stats
print(stats.hmean(df2['Total Housing Units']))

44398.28543969185