<a href="https://colab.research.google.com/github/rghimre3/Ramesh_ghimire_INFO-5502_summer2022/blob/main/lab_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second Lab-assignment (07/19/2022 11:59'AM' - 07/22/2022 11:59PM, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [145]:
import random
import numpy as np
x=list(np.random.randint(low = 1,high=100,size=12)) 
print("This is the list :", x ,"\n")
print("The max value of the list is : ", max(x),"\n")
print("The min value of the list is : ",min(x),"\n")
x.sort()
print("Ascending order sort ", x,"\n")
x.sort( reverse=True)
print("DEscending order sort : ",x,"\n")
x2=x  #just copying 
# creating an average function
def Average(n):
  avg=sum(n)/len(n)
  return avg
print("The average of the list: ",Average(x2))

This is the list : [42, 78, 79, 57, 61, 65, 82, 80, 22, 57, 37, 34]

The max value of the list is :  82

The min value of the list is :  22

Ascending order sort  [22, 34, 37, 42, 57, 57, 61, 65, 78, 79, 80, 82]

DEscending order sort :  [82, 80, 79, 78, 65, 61, 57, 57, 42, 37, 34, 22]

The average of the list:  57.833333333333336

# Question 2 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [130]:
def volume(r):
  volume=(4/3)* 3.14* r**2
  return volume

r=[]
v=[]
for i in range(1,11):
  y=round(volume(i),2)
  i=r.append(i)
  y=v.append(y)

import pandas as pd
d={'r':r,'V':v}
df=pd.DataFrame(d)
df=df.set_index('r')
print (df)

         V
r
1     4.19
2    16.75
3    37.68
4    66.99
5   104.67
6   150.72
7   205.15
8   267.95
9   339.12
10  418.67

# Question 3

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [7]:
import pandas as pd
df = pd.read_csv(r'https://raw.githubusercontent.com/suthapalliuday/INFO5502-Summer2022/main/datasets/lab_assignment_02_denton_housing.csv')
df.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215