<a href="https://colab.research.google.com/github/rghimre3/Ramesh_ghimire_INFO-5502_summer2022/blob/main/lab_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second Lab-assignment (07/19/2022 11:59'AM' - 07/22/2022 11:59PM, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [24]:
import random
import numpy as np
x=list(np.random.randint(low = 1,high=100,size=12)) 
print("This is the list :", x ,"\n")
print("The max value of the list is : ", max(x),"\n")
print("The min value of the list is : ",min(x),"\n")
x.sort()
print("Ascending order sort ", x,"\n")
x.sort( reverse=True)
print("Descending order sort : ",x,"\n")
x2=x  #just copying 
# creating an average function
def Average(n):
  avg=sum(n)/len(n)
  return avg
print("The average of the list: ",Average(x2))

This is the list : [14, 45, 3, 31, 45, 91, 54, 63, 5, 70, 97, 39]

The max value of the list is :  97

The min value of the list is :  3

Ascending order sort  [3, 5, 14, 31, 39, 45, 45, 54, 63, 70, 91, 97]

DEscending order sort :  [97, 91, 70, 63, 54, 45, 45, 39, 31, 14, 5, 3]

The average of the list:  46.416666666666664

# Question 2 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [25]:
def volume(r):
  volume=(4/3)* 3.14* r**2
  return volume

r=[]
v=[]
for i in range(1,11):
  y=round(volume(i),2)
  i=r.append(i)
  y=v.append(y)

import pandas as pd
d={'r':r,'V':v}
df=pd.DataFrame(d)
df=df.set_index('r')
print (df)

         V
r
1     4.19
2    16.75
3    37.68
4    66.99
5   104.67
6   150.72
7   205.15
8   267.95
9   339.12
10  418.67

# Question 3

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [7]:
import pandas as pd
df = pd.read_csv(r'https://raw.githubusercontent.com/suthapalliuday/INFO5502-Summer2022/main/datasets/lab_assignment_02_denton_housing.csv')
df.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [16]:
df2=df.pivot_table('value', 'year', 'title_field',fill_value=0).reset_index()

In [41]:
df2['Diff_occupied_housing']=df2['Occupied Housing Units'].diff()
df2['Vacant_Housing_Units']=round(df2['Vacant Housing Units']/df2['Total Housing Units']*100,2).astype(str)+'%'

df2['Occupied_Housing_Units']=round(df2['Occupied Housing Units']/df2['Total Housing Units']*100,2).astype(str)+'%'

In [48]:
##1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

In [19]:
df3=df2[['year','Diff_occupied_housing']]

print(df3)
print(" \n")
print("Ascending orderby diff value ")
df4=df3.sort_values(by='Diff_occupied_housing',ascending=True)
print(df4)

title_field  year  Diff_occupied_housing
0            2008                    NaN
1            2009                 -795.0
2            2010                 5091.0
3            2011                 -303.0
4            2012                 1404.0
5            2013                 1565.0
6            2014                 2622.0


Ascending orderby diff value
title_field  year  Diff_occupied_housing
1            2009                 -795.0
3            2011                 -303.0
4            2012                 1404.0
5            2013                 1565.0
6            2014                 2622.0
2            2010                 5091.0
0            2008                    NaN

In [47]:
##(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:
#Year Vacant Housing Units Occupied Housing Units

In [42]:
df5=df2[['year','Vacant_Housing_Units','Occupied_Housing_Units']]

df5.head(10)

title_field  year Vacant_Housing_Units Occupied_Housing_Units
0            2008               10.88%                 89.12%
1            2009                9.07%                 90.93%
2            2010                8.14%                 91.86%
3            2011                9.38%                 90.62%
4            2012                6.68%                 93.32%
5            2013                 8.8%                  91.2%
6            2014                5.73%                 94.27%

In [ ]:
##(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:

In [21]:
df6=df2[['Vacant Housing Units','Occupied Housing Units']].max()
print(df6)

title_field
Vacant Housing Units       4483
Occupied Housing Units    46295
dtype: int64

In [22]:
df6=df2.iloc[df2['Occupied Housing Units'].idxmax()]
df6.head()

title_field
year                       2014.0
Median Gross Rent           905.0
Occupied Housing Units    46295.0
Owner Occupied            21427.0
Renter Occupied           24868.0
Name: 6, dtype: float64

In [49]:
## (4) (10 pts) Calculate the harmonic mean of the total housing units and print it out

In [23]:
from scipy import stats
print(stats.hmean(df2['Total Housing Units']))

44398.28543969185