<a href="https://colab.research.google.com/github/rghimre3/Ramesh_ghimire_INFO-5502_summer2022/blob/main/lab_assignment_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The fifth Lab-assignment (07/29/2022 11:59'AM' - 08/02/2022 11:59PM, 50 points in total)

The purpose of this exercise is to understand Data Visualization, we will practice how to create visualizations for different datasets bu using different tools.

Question 1 (50 points). In this questions, you will design a visualization for a small data set and provide a rigorous rationale for your design choices. 

Every 10 years, the census bureau documents the demographic make-up of the United States, influencing everything from congressional districting to social services. This dataset contains a high-level summary of census data for two years a century apart: 1900 and 2000. The data is a CSV (comma-separated values) file that describes the U.S. population in terms of year, reported sex (1: male, 2: female), age group (binned into 5 year segments from 0-4 years old up to 90+ years old), and the total count of people per group. There are 38 data points per year, for a total of 76 data points.

You can download the dataset here: 

Dataset: https://github.com/suthapalliuday/INFO5502-Summer2022/blob/main/datasets/lab_assignment_05_census.csv

Source: https://www.ipums.org/

(1)(10 points) Start by choosing a question you'd like a visualization to answer.

(2)(30 points) Generate a static visualization (i.e., a single image) that you believe effectively answers that question, and use the question as the title of your graphic.

(3)(10 points) Provide a short write-up (no more than 3 paragraphs) describing your design.


While you must use the data set given, you are free to transform the data as you see fit. Such transforms may include (but are not limited to) log transformation, computing percentages or averages, grouping elements into new categories, or removing unnecessary variables or records. You are also free to incorporate external data as you see fit. Your chart image should be interpretable without recourse to your short write-up. Do not forget to include title, axis labels or legends as needed!

As different visualizations can emphasize different aspects of a data set, you should document what aspects of the data you are attempting to most effectively communicate. In short, what story are you trying to tell? Just as important, also note which aspects of the data might be obscured or down-played due to your visualization design.

In your write-up, you should provide a rigorous rationale for your design decisions. Document the visual encodings you used and why they are appropriate for the data and your specific question. These decisions include the choice of visualization type, size, color, scale, and other visual elements, as well as the use of sorting or other data transformations. How do these decisions facilitate effective communication?

In [ ]:
# Your answer here (question + explanation):

In [10]:
# Your answer here (python code + explanation):

import pandas as pd
df=pd.read_csv(r'https://raw.githubusercontent.com/suthapalliuday/INFO5502-Summer2022/main/datasets/lab_assignment_05_census.csv')

df.head(20)

    Sex  Year  Age    People
0     1  1900    0   4619544
1     1  2000    0   9735380
2     1  1900    5   4465783
3     1  2000    5  10552146
4     1  1900   10   4057669
5     1  2000   10  10563233
6     1  1900   15   3774846
7     1  2000   15  10237419
8     1  1900   20   3694038
9     1  2000   20   9731315
10    1  1900   25   3389280
11    1  2000   25   9659493
12    1  1900   30   2918964
13    1  2000   30  10205879
14    1  1900   35   2633883
15    1  2000   35  11475182
16    1  1900   40   2261070
17    1  2000   40  11320252
18    1  1900   45   1868413
19    1  2000   45   9925006

In [8]:
print(df.describe()) 
print('\n')
print(df.info())

             Sex        Year        Age        People
count  76.000000    76.00000  76.000000  7.600000e+01
mean    1.500000  1950.00000  45.000000  4.706362e+06
std     0.503322    50.33223  27.568098  3.833504e+06
min     1.000000  1900.00000   0.000000  1.516400e+04
25%     1.000000  1900.00000  20.000000  1.349463e+06
50%     1.500000  1950.00000  45.000000  3.783496e+06
75%     2.000000  2000.00000  70.000000  9.314096e+06
max     2.000000  2000.00000  90.000000  1.163565e+07


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sex     76 non-null     int64
 1   Year    76 non-null     int64
 2   Age     76 non-null     int64
 3   People  76 non-null     int64
dtypes: int64(4)
memory usage: 2.5 KB
None

In [ ]:
# Your answer here (interpretation of the results):